<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1658828_vud4w73neg.css">
    <link rel="stylesheet" href="/admin/css/style.css">
</head>

<body class="bg-light">
    <%- include('../header.html') -%>

        <div class="container-fluid vh-100">
            <div class="row h-100">
                <%- include('../nav.html') -%>
                    <div class="col-10">
                        <div class="p-3 border mb-3 bg-white">
                            <h4 class="mb-0">文章管理</h4>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header bg-primary text-white d-flex justify-content-between">
                                        <h6 class="mb-0 align-self-center">文章列表</h6>
                                    </div>
                                    <div class="card-body">
                                        <form action="/admin/article" class="form-inline mb-3" method="get">
                                            <input type="hidden" name="p" value="<%= pageList.pageNum %>">
                                            <div class="form-group">
                                                <label for="category">类目：</label>
                                                <select name="category" id="category" class="form-control-sm">
                                            <option value="-1">全部</option>
                                            <% categories.forEach( item => { %>
                                                <option value="<%= item.id %>" <%= category==item.id ? 'selected' : ''%>><%= item.name %></option>
                                            <% }) %>
                                        </select>
                                            </div>
                                            <div class="form-group ml-3">
                                                <label for="hot">热门：</label>
                                                <select name="hot" id="hot" class="form-control-sm">
                                            <option value="-1">全部</option>
                                            <option value="1" <%= hot==1 ? 'selected' : ''%>>热门</option>
                                            <option value="0" <%= hot==0 ? 'selected' : ''%>>非热门</option>
                                        </select>
                                            </div>
                                            <div class="from-group ml-3">
                                                <input type="submit" value="筛选" class="btn btn-primary btn-sm">
                                            </div>
                                            <div class="form-group ml-auto">
                                                <a href="/admin/article/add" class="btn btn-danger btn-sm">发表文章</a>
                                            </div>
                                        </form>
                                        <table class="table table-hover text-center">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>标题</th>
                                                    <th>缩略图</th>
                                                    <th>热门推荐</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% pageList.list.forEach(item => { %>
                                                    <tr>
                                                        <th>
                                                            <%= item.id %>
                                                        </th>
                                                        <td>
                                                            <%= item.title %>
                                                        </td>
                                                        <td>
                                                            <i class="iconfont icon-photo" data-toggle="popover" data-content="<img src='<%= item.thumbnail %>'>"></i>
                                                        </td>
                                                        <td>
                                                            <div class="custom-control custom-switch">
                                                                <input type="checkbox" class="custom-control-input" id="hot<%= item.id %>" <% item.hot==1? 'checked': '' %> onchange="setHot(
                                                                <%= item.id %>,
                                                                    <%= item.hot %>)">
                                                                        <label class="custom-control-label" for="hot<%= item.id %>"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/article/edit/<%= item.id %>" class="text-primary" title="编辑"><i
                                                            class="iconfont icon-bianji"></i>编辑</a>
                                                            <a href="/admin/article/delete?id=<%= item.id %>" onclick="return confirm('确定删除？')" class="text-danger" title="删除"><i class="iconfont icon-delete"></i>删除</a>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                        <nav class="d-flex justify-content-between border-top pt-3 px-3">
                                            <div class="align-self-center">
                                                共
                                                <%= pageList.total %> 条 / 共
                                                    <%= pageList.pages %> 页 / 第
                                                        <%= pageList.pageNum %> 页
                                            </div>
                                            <ul class="pagination mb-0">
                                                <% if(pageList.pageNum - 1 > 0){ %>
                                                    <li class="page-item"><a class="page-link" href="/admin/article?p=<%= pageList.pageNum - 1 %>&category=<%= category ? category : -1 %>&hot=<%= hot ? hot : -1 %>">上一页</a></li>
                                                    <% } %>
                                                        <% for(let i = 1; i <= pageList.pages; i++){ %>
                                                            <li class="page-item">
                                                                <a class="page-link" href="/admin/article?p=<%= i %>&category=<%= category ? category : -1 %>&hot=<%= hot ? hot : -1 %>">
                                                                    <%= i %>
                                                                </a>
                                                            </li>
                                                            <% } %>
                                                                <% if(pageList.pageNum + 1 <= pageList.pages){ %>
                                                                    <li class="page-item"><a class="page-link" href="/admin/article?p=<%= pageList.pageNum + 1 %>&category=<%= category ? category : -1 %>&hot=<%= hot ? hot : -1 %>">下一页</a></li>
                                                                    <% } %>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="toasts position-absolute" style="min-width:300px;right:0;top:80px"></div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
        <script src="https://gw.alipayobjects.com/os/lib/antv/g2/3.5.12/dist/g2.min.js"></script>
        <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.10.2/dist/data-set.min.js"></script>
        <script src="/admin/js/public.js"></script>
        <script>
            function setHot(id, hot) {
                $.get(`/admin/article/setHot`, {
                    id,
                    hot: hot ? 0 : 1
                }, res => {
                    if (res.code == 1) {
                        showToasts('成功', '设置成功')
                    } else {
                        showToasts('失败', '设置失败')
                    }
                })
            }
        </script>
        <% if (code == 1) { %>
            <script>
                showToasts('成功', '删除成功')
                setTimeout(() => {
                    location.replace('/admin/article')
                }, 1500)
            </script>
            <% } else if(code == 2) { %>
                <script>
                    showToasts('失败', '删除失败')
                </script>
                <% } %>
</body>

</html>