<%- include('header.html') -%>

    <div class="container mt-5">
        <h2 class="mb-4">当前栏目：<%= categoryName %></h2>
        <div class="row row-cols-4">
            <% articles.forEach(item => { %>
                <div class="col my-3">
                    <div class="card h-100">
                        <img src="<%= item.thumbnail ? item.thumbnail : 'holder.js/100px150' %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= item.title %></h5>
                            <p class="card-text"><small class="text-muted"><%= item.time.toLocaleString() %></small></p>
                            <p class="card-text"><%= item.content.replace(/<[^>]+>/g, '').substring(0, 20) %>...</p>
                            <a href="/article/detail/<%= item.id %>" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <%- include('footer.html') -%>